body {
	width: 400px;
	height: 384px; /* minus arrow on top */
	padding-top: 60px;
}

#share_url {
	text-align: center;
	text-overflow: ellipsis;
	-webkit-line-clamp: 1;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

#submit {
  float: right;
}